.topMoveiesContainer {
    width: 80%;
    border: 1px black solid;
    border-radius: 20px;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;

}
.dashboard{
    margin: 0px;
    padding: 0px;
    background-color: #022436;
}
.allMoveiesContainer {
    width: 80%;
    border: 1px black solid;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    justify-content: space-evenly;


}

.topMovies {
    display: flex;
    overflow: auto;
    padding: 10px;
    height: fit-content;
    justify-content: space-evenly;

}

.sectionContainer {
    width: 90%;
    margin: auto;
    border-radius: 90px;
    background-color: #022436;
    padding: 30px;


}