.topMoveiesContainer {
    width: 70%;
    border: 1px black solid;
    border-radius: 20px;
    padding: 10px;
    margin: auto;
    margin-top: 10px;

}

.topMovies {
    display: flex;
    overflow: auto;
    padding: 15px;
}

.sectionContainer {
    width: 90%;
    margin: auto;
    border-radius: 90px;
    background-color: #eeebeb;
    padding: 30px;


}