.filmContainer {
    width: 70%;
    margin: auto;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    margin-top: 40px;
    height: 750px;
    display: flex;
    justify-content: space-evenly;
}

.filmPageImageContainer {
    width: 30%

}

.filmPageImage {
    border: 3px solid black;
    border-radius: 10px;
    width: 100%;

}

.filmPageInfoContainer {
    border-radius: 10px;
    width: 60%;
    border: 1px solid black;
    padding: 0px 30px;
    margin-left: 10px;
    overflow: auto;
}

.filmInfo {

    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    margin:10px 0px 10px 0px;


    background-color: #eeebeb;
    border-radius: 90px;



}
.filmSpec {
    font-family: Lato;
    font-size: 30px;

}
.filmSpecType {
    font-family: Lato;
    font-size: 30px;
    color: grey;
}
.description{
    font-size:20px;
}
