.filmContainer {
    width: 60%;
    margin: auto;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    margin-top: 40px;
    height: 750px;
    display: flex;
    justify-content: space-evenly;
}

.filmPageImageContainer {
    width: 30%

}

.filmPageImage {
    border: 3px solid black;
    border-radius: 10px;
    width: 100%;

}

.filmPageInfoContainer {
    border-radius: 10px;
    width: 55%;
    border: 1px solid black;
    padding: 0px 60px;
    margin-left: 10px;
    overflow: auto;
}

.filmInfo {

    padding: 0px 100px;
    display: flex;
    justify-content: space-between;


}
.filmSpec {
    font-family: Lato;
    font-size: 30px;

}
.filmSpecType {
    font-family: Lato;
    font-size: 30px;
    color: grey;
}
