.card {
    margin-left: px; /* Add margin to create space between cards */
    max-width: 240px;
    min-width: 150px;
    border: 100px solid #808080;
    border-radius: 20px;
    height: 95%;
}
.movieCardContainer {
margin-left: 5px;
}
.card_img
{
    border-radius: 20px;
    max-width:inherit;

    height: 300px;

}
.cardText{
text-align: center;
    font-size: 18pt;
    font-family: Lato;
    letter-spacing: 1px;
}
.cardTextSmall{
    text-align: center;
    font-size: 13pt;
    font-family: Lato;
    letter-spacing: 1px;
}