.componentContainer{
    display: flex;
    margin: 0px;
    padding: 20px;
    height: 90vh;


}

.userTab{
    background-color:rgba(128, 128, 128, 0.11);
    border-radius: 20px;
    margin: auto;
    width: 36%;
    height: 85vh;
    padding: 10px;
    text-align: center;
    background-color: #1b292f;



}
.userContentComteiner{
    background-color: rgba(128, 128, 128, 0.11);
    border-radius: 20px;
    margin: auto;
    width: 60%;
    height: 85vh;
    overflow: auto;
    background-color: #1b292f;

}
.userContentName{
    background-color: rgba(128, 128, 128, 0.11);
    border-radius: 20px;
    border: 1px #808080 solid;
    margin:10px 2px 2px 2px;

    width: 98%;
    height: fit-content;

    padding: 10px;
    display: flex;
    flex-wrap:nowrap;
    overflow: auto;
    justify-content: start;
    min-height: 300px;


}
.imgMugshot{
width: 100%;

}
.imgMugshotContainer
{
    display: inline-block;
    width:fit-content;
    border-radius: 180px;
    border: black 2px solid;
    padding: 30px;
    background-color: rgba(128, 128, 128, 0.06);
    width: 60%;
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.6);



}
.heading{
    color: white;
}
